{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}
  Add Task
{% endblock title %}

{% block content %}
  <div class="container mt-4">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card">
          <div class="card-header bg-primary text-white">
            <h4 class="mb-0">Add Task</h4>
          </div>
          <div class="card-body">
            <form method="post" class="my-3" enctype="multipart/form-data">
              {% csrf_token %}
              {{ form|crispy }}
              <button type="submit" class="btn btn-primary">Add Task</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
