{% load static %}
<div class="container mt-4">
  <div class="row">
    {% for task in tasklist %}
    <div class="col-md-3 my-3">
      <div class="card h-100">
        <img class="card-img-top" src="{{ task.image.url }}" width="287" height="180" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title"><a href="{{ task.get_absolute_url }}">{{ task.title|truncatechars:20 }}</a></h5>
          <p class="card-text">{{task.description|truncatechars:25}}</p>
          <a href="{% url 'task:single' task.pk %}" class="btn btn-primary">Show More...</a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

  